<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
         version="2.4">
    <display-name>Belote App</display-name>
    <description>Une application gérant un serveur supportant des parties de belote.</description>

    <!-- met login.jsp en racine -->
<!--    <welcome-file-list>-->
<!--        <welcome-file>/login.jsp</welcome-file>-->
<!--    </welcome-file-list>-->

<!--    <filter>-->
<!--        <filter-name>ClickLoginUserFilter</filter-name>-->
<!--        <filter-class>filter.filter</filter-class>-->
<!--    </filter>-->

<!--    <filter-mapping>-->
<!--        <filter-name>ClickLoginUserFilter</filter-name>-->
<!--        <url-pattern>/*</url-pattern>-->
<!--    </filter-mapping>-->

    <servlet>
        <servlet-name>ADummyPage</servlet-name>
        <jsp-file>/dummy.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>ADummyPage</servlet-name>
        <url-pattern>/dummy</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Index</servlet-name>
        <jsp-file>/index.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Index</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Register</servlet-name>
        <jsp-file>/WEB-INF/views/register.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>

    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>

</web-app>